* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-header {
  width: 100%;
  height: 76px;
  border-bottom: 1px solid rgba(232, 232, 232, 1);
  padding: 50px;
  background: rgba(255, 255, 255, 1);
  position: relative;
  /* border: 5px solid orange; */
}

.wallet {
  width: 355px;
  height: 32px;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.wallet img {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.wallet p {
  position: absolute;
  top: 5px;
  left: 60px;
  width: 82px;
  height: 27px;
  font-family: Nunito Sans;
  font-weight: 600px;
  font-size: 20px;
  line-height: 27.28px;
  color: rgba(41, 72, 255, 1);
}

.profil {
  width: 423px;
  height: 48px;
  position: absolute;
  top: 20%;
}

.profil p {
  position: absolute;
  top: 50%;
  left: 1100px;
  width: 180px;
  height: 24px;
  font-family: Montserrat;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(79, 86, 101, 1);
}

.profil img {
  position: absolute;
  top: 22%;
  left: 1250px;
  width: 48px;
  height: 48px;
}

.profil .down {
  position: absolute;
  top: 50%;
  left: 1330px;
  width: 24px;
  height: 24px;
}

.container-sidebar {
  width: 262px;
  height: 948px;
  border-right: 1px solid rgba(232, 232, 232, 1);
  position: relative;
}

.colomns {
  width: 208px;
  height: 350px;
  /* border: 1px solid black; */
  position: absolute;
  top: 23%;
  left: 55%;
  transform: translate(-50%, -50%);
  font-family: Montserrat;
}

.colomns .dashboard {
  width: 208px;
  height: 45px;
  /* border: 1px solid black; */
  padding: 4px 12px 4px 8px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dashboard img {
  position: absolute;
  top: 25%;
  left: 10px;
  width: 24px;
  height: 24px;
}

.dashboard p {
  position: absolute;
  top: 25%;
  left: 50px;
  width: 156px;
  height: 24px;
  font-family: Montserrat;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(79, 86, 101, 1);
}

.colomns .tf {
  width: 208px;
  height: 45px;
  border-radius: 6px;
  background: rgba(41, 72, 255, 1);
  /* border: 1px solid black; */
  padding: 4px 12px 4px 8px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tf img {
  position: absolute;
  top: 25%;
  left: 10px;
  width: 24px;
  height: 24px;
}

.tf p {
  position: absolute;
  top: 25%;
  left: 50px;
  width: 156px;
  height: 24px;
  font-family: Montserrat;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
}

.colomns .history {
  width: 208px;
  height: 45px;
  /* border: 1px solid black; */
  padding: 4px 12px 4px 8px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.history img {
  position: absolute;
  top: 25%;
  left: 10px;
  width: 24px;
  height: 24px;
}

.history p {
  position: absolute;
  top: 25%;
  left: 50px;
  width: 156px;
  height: 24px;
  font-family: Montserrat;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(79, 86, 101, 1);
}

.colomns .topup {
  width: 208px;
  height: 45px;
  /* border: 1px solid black; */
  padding: 4px 12px 4px 8px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topup img {
  position: absolute;
  top: 25%;
  left: 10px;
  width: 24px;
  height: 24px;
}

.topup p {
  position: absolute;
  top: 25%;
  left: 50px;
  width: 156px;
  height: 24px;
  font-family: Montserrat;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(79, 86, 101, 1);
}

.colomns .profile {
  width: 208px;
  height: 45px;
  /* border: 1px solid black; */
  padding: 4px 12px 4px 8px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile img {
  position: absolute;
  top: 25%;
  left: 10px;
  width: 24px;
  height: 24px;
}

.profile p {
  position: absolute;
  top: 25%;
  left: 50px;
  width: 156px;
  height: 24px;
  font-family: Montserrat;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(79, 86, 101, 1);
}

.colomns .out {
  width: 208px;
  height: 45px;
  /* border: 1px solid black; */
  padding: 4px 12px 4px 8px;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.out img {
  position: absolute;
  top: 25%;
  left: 10px;
  width: 24px;
  height: 24px;
}

.out p {
  position: absolute;
  top: 25%;
  left: 50px;
  width: 156px;
  height: 24px;
  font-family: Montserrat;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(208, 0, 0, 1);
}

.judul {
  font-family: Montserrat;
  position: absolute;
  top: 120px;
  left: 320px;
  width: 983px;
  height: 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19.5px;
}

.judul img {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 40%;
  left: -3%;
  transform: translate(-50%, -50%);
}

.container-main {
  position: relative;
  top: -880px;
  left: 320px;
  width: 1056px;
  height: 404px;
  border: 1px solid rgba(232, 232, 232, 1);
}

.main {
  position: absolute;
  top: 40px;
  left: 35px;
  width: 983px;
  height: 318px;
  /* border: 1px solid black; */
}

.change {
  width: 983px;
  height: 28px;
  font-family: Montserrat;
  font-weight: 600px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(11, 19, 42, 1);
  position: absolute;
  top: 0;
  left: 40%;
}

.please {
  width: 983px;
  height: 27px;
  font-family: Montserrat;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(79, 86, 101, 1);
  position: absolute;
  top: 40px;
  left: 28%;
}

.satu {
  width: 983px;
  height: 191px;
  padding: 10px;
}

.satu p {
  width: 12px;
  height: 37px;
  font-family: Montserrat;
  font-weight: 500px;
  font-size: 30px;
  line-height: 36.57px;
  color: rgba(11, 19, 42, 1);
  position: absolute;
  top: 110px;
  left: 270px;
}

.line {
  position: absolute;
  left: 225px;
  top: 80px;
}

.line1 {
  position: absolute;
  left: 14px;
  top: 77px;
  width: 66px;
  height: 1px;
  border: 1px solid rgba(41, 72, 255, 1);
}

.line2 {
  position: absolute;
  left: 105px;
  top: 77px;
  width: 66px;
  height: 1px;
  border: 1px solid rgba(232, 232, 232, 1);
}

.line3 {
  position: absolute;
  left: 195px;
  top: 77px;
  width: 66px;
  height: 1px;
  border: 1px solid rgba(232, 232, 232, 1);
}

.line4 {
  position: absolute;
  left: 285px;
  top: 77px;
  width: 66px;
  height: 1px;
  border: 1px solid rgba(232, 232, 232, 1);
}

.line5 {
  position: absolute;
  left: 375px;
  top: 77px;
  width: 66px;
  height: 1px;
  border: 1px solid rgba(232, 232, 232, 1);
}

.line6 {
  position: absolute;
  left: 475px;
  top: 77px;
  width: 66px;
  height: 1px;
  border: 1px solid rgba(232, 232, 232, 1);
}

.button button {
  width: 983px;
  height: 45px;
  border-radius: 6px;
  padding: 4px 12px 4px 8px;
  background: rgba(41, 72, 255, 1);
  position: absolute;
  top: 280px;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  color: rgba(255, 255, 255, 1);
  font-family: Montserrat;
  font-weight: 400px;
  font-size: 14px;
  line-height: 24px;
}
